# Configuration du serveur
PORT=5000
NODE_ENV=development

# Base de données MySQL / MariaDB (Prisma)
DATABASE_URL="mysql://root:password@localhost:3308/teranga_food_db"

# Authentification JWT
JWT_SECRET="teranga_food_secret_key_luxury_dakar_2026"
JWT_EXPIRES_IN="7d"

# Configuration WhatsApp par défaut
DEFAULT_WHATSAPP_NUMBER="221775678900"

# CORS Frontend
CLIENT_URL="http://localhost:5173"

# Stockage Médias Cloudinary (Optionnel)
CLOUDINARY_CLOUD_NAME="teranga-food"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
